body{
    background-color: rgb(60, 60, 60);
}
p{
    color: azure;
}
.ctitre{
    color: crimson;
    text-align: center;
    font-size: 1cm;
}
.formation{
    color: azure;
    text-transform: capitalize;
    font-size: x-large;
    margin-top: 100px;
    font-weight: bolder;
}
.spe{
    color: crimson;
}
#imgsin{
    margin-left: 1300px;
    width: 150px;
}
#imgsio{
    margin-left: 1000px;
    width: 200px;
}
