body{
    background-color: rgb(60, 60, 60);
}
h1{
    font-weight: bolder;
    color: crimson;
    font-size: 1cm;
    text-align: center
}
.ctitre{
    color: rgb(255, 0, 0);
    margin-left: 1cm;
}
.liens{
    text-decoration: none;
    color: crimson;
}

.liens:link {
    text-decoration: none;
}

.liens:visited {
    text-decoration: none;
}

.liens:focus {
    text-decoration: none;
}

.liens:hover {
    text-decoration: none;
}

.liens:active {
    text-decoration: none;
}
.texte{
    color: rgb(255, 255, 255);
}
#presentation{
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 300px;
    color: white;
    font-size: 25px;
}