body{
    background-color: rgb(192,192,192);
    font-family: Arial, Helvetica, sans-serif;
}
#depliant{
list-style-type: none;
text-align: center;
margin-top: 1cm;
}

#depliant li {
    display: inline;
    margin: 1cm;
    font-size: 25px;
}
#depliant a:hover{
    color: black;
}
#depliant a:visited{
    color: black;
}
#gtitre{
    font-weight: bolder;
    color: rgb(221, 0, 0);
    margin-top: 5cm;
    font-size: 3cm;
    text-align: center;
}
.linkedin{
    width: 1.7cm;
}
.git{
    width: 1cm;
}
#photoperso{
    width: 5cm;
}
a {
    text-decoration: none;
    color: black;
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:focus {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}
#phraseaccroche{
    text-align: center;
    font-size: 8mm;
    color: black;
}
