body{
    background-color: rgb(42, 44, 44);
}
h1{
    font-weight: bolder;
    color: crimson;
    font-size: 1cm;
    text-align: center
}
.ctitre{
    color: azure;
    margin-left: 1cm;
}
a {
    text-decoration: none;
    color: crimson;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:focus {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}