body{
    background-color: rgb(42, 44, 44);
}
p{
    color: azure;
}
h1{
    color: crimson;
    text-align: center;
    font-size: 1cm;
}
p {
    font-size: 20px;
}

.container {
    background-color: crimson;
    width: 80%;
    border-radius: 15px;
}

.skill {
    background-color: blue;
    color: white;
    padding: 1%;
    text-align: right;
    font-size: 20px;
    border-radius: 15px;
}

.dev {
    width: 30%;
}

.reso {
    width: 15%;
}
.coworking{
    width: 90%;
}
.ang{
    width: 50%;
}